<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= user.company %>'s jobs</h1>
    <form action="/recruiters/profile?_method=GET" method="post">
        <button>Profile</button>
    </form>
    <form action="/recruiters/postjobs?_method=GET" method="post">
        <button>post jobs</button>
      </form>
    <% if (jobs && jobs.length > 0) { %>
    <ul>
      <% jobs.forEach(job => { %>
      <li><div>
        <h3><%= job.title %></h3>
        <p><%= job.description %></p>
        <p><%= job.location %></p>
        <p><%= job.salary %></p>
        <form  action="/recruiters/view/<%= job.file %>?_method=GET" method="post" target="_blank">
          <button>More Info</button>
        </form>
        <form action="/recruiters/myjobs/<%= job._id %>?_method=DELETE" method="post">
          <button>Delete</button>
        </form>
      </div></li>
      <% }); %>
    </ul>
    <% } else { %>
    <p>No jobs available.</p>
    <% } %>
  </body>
</html>
